<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log/ Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css')}}" media="screen" />
  </head>
  <body>
    <div class="main_content">
      <h1>works</h1>
      <fieldset>
        <legend>Message</legend>
        <form action="/message" method="post">
          <label for="Message">
            Message
            <input type="textarea" name="message" value='text'>
          </label>
          <button type="submit" name="button">Post</button>
        </form>
      </fieldset>
      <fieldset>
        <legend>Comment</legend>
        <form action="/comment" method="post">
          <label for="Comment">
            Comment
            <input type="textarea" name="comment" value='text'>
          </label>
          <button type="submit" name="button">Post</button>
        </form>
      </fieldset>
      
      {% for messages in messageToWall: %}
        {{ messages['first_name']}}
        {{ messages['last_name']}}
        {{ messages['time']}}
        {{ messages['message']}}
      {% endfor %}

      <!-- -->
        {% for messages in messageToWall %}
            <div class="post_group">
                <div class="message">
                    <h3>{{ messages['first_name']}} {{ messages['last_name'] }}</h3>
                    <p class="message_content">{{ messages['message'] }}</p>

                    {% if messages['user_id'] == session['user_id'] %}
                        <a href="/delete/{{messages['id']}}" class="delete_message"><button class="delete_button">Delete Message</button></a>
                    {% endif %}
                </div><!--  /.message -->
                {% for comments in commentToWall %}
                    {% if comments['message_id'] == messages['id'] %}
                    <div class="comment">
                        <h3>{{ comments['first_name'] }} {{ comments['last_name'] }}</h3>
                        <h5>{{"{: %I:%M %p %b %d, %Y}".format(comments['created_at']).replace(" 0", " ")}}</h5>
                        <p class="comment_content">{{ comments['comment'] }}</p>
                    </div><!--  /.comment -->
                    {% endif %}          
                {% endfor %}

                <form action="/comment/{{ messages['id'] }}" method="POST" class="post_comment">
                    <input type="text" name="comment">
                    <input type="submit" value="Post Comment" class="comment_submit">
                </form>
            
            </div><!--  /.post_group -->                
            
          {% endfor %}
    </div>
  </body>
</html>
Contact GitHub API Training Shop Blog About
